.admin-data {
  width: 100%;
  .data-header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    .data-card{
        width: 300px;
        margin-right: 20px;
    }
  }
  .data-body{
      .data-ranklist{
          margin-top: 20px;
          p{
              font-weight: 500;
              font-size: 16px;
          }
          .list{
              list-style: none;
              padding-left: 0px;
              li{
                  width: 300px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin-top: 14px;
                  .left{
                      .avatar-wrap{
                          margin-right: 20px;
                      }
                  }
              }
          }
      }
  }
}
