.admin-data {
  width: 100%;
  .data-header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    .data-card{
        width: 300px;
        margin-right: 20px;
    }
  }
}
