.home-wrap {
  height: 100vh;
  .home-content-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.anticon-menu-fold,
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

.ant-layout-sider-children {
  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
}

.site-layout .site-layout-background {
  background: #fff;
}

.header-wrap {
  .right-menu {
    margin-right: 50px;
    float: right;
    .right-menu-item {
      margin-right: 15px;
      color: #666;
        a {
          color: #666;
        }
    }
  }
}
